@import url("./basic-styles.css");
.underline {
  text-decoration: underline;
}

.header {
  background-color: var(--header-footer-color);
}

.header-container {
  padding-left: 64px;
}
.logo {
  width: 210px;
  display: grid;
  grid-template-columns: 35px 1fr;
  align-items: center;
  gap: 10px;
  padding-top: 18px;
  padding-bottom: 20px;
  line-height: 1.3;
}

.header-nav {
  display: flex;
  justify-content: space-between;
}
.header-logo {
  color: var(--white);
  font-family: var(--montserrat-font);
  font-size: 28.54px;
  border-left: 1px solid var(--orange);
  padding-left: 10px;
}

.nav-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 30px;
  align-items: center;
  padding-top: 29.5px;
  padding-bottom: 29.5px;
}

.nav-item {
  color: var(--white);
}

.nav-item:is(:hover, :focus) {
  color: var(--orange);
}
.main {
  background-color: var(--main);
  padding-top: 40px;
  padding-bottom: 40px;
}
.news-container {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--white);
}
.news-title {
  color: var (--content-main);
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 24px;
  line-height: 1.3;
}

.news-data {
  color: var(--transparent);
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 16px;
  font-size: 14px;
  line-height: 1.5;
}

.news-autor {
  color: var(--content-main);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin-top: 16px;
  margin-bottom: 24px;
  line-height: 1.3;
}

.news-div {
  padding-right: 30px;
  padding-left: 30px;
}

.news-list {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 24px;
  margin-bottom: 24px;
  display: grid;
  gap: 23px;
}
.news-item {
  color: var(--content-main);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.3;
}

.more-news-container {
  padding: 30px 30px 67px;
  background-color: var(--white);
}

.more-news-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  line-height: 1.3;
  color: var(--content-main);
}

.more-news-item {
  border-bottom: 1px solid #e6e9ee;
  display: grid;
  grid-template-columns: 140px 1fr;
  gap: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.more-news-div {
  display: grid;
  gap: 16px;
}
.more-news-article {
  color: #1a1a1a;
  font-family: var(--roboto-font);
  font-size: 16px;
  line-height: 1.3;
}
.more-news-text {
  color: #090920;
  opacity: 0.7;
  font-family: var(--roboto-font);
  font-size: 13px;
}
.more-news-autor {
  color: #090920;
  opacity: 0.7;
  font-family: var(--roboto-font);
  font-size: 13px;
}

.date {
  color: #b4b7c1;
}
